<div id="center">
  <div id="display">
    <p>Welcome {{ name }}!</p>
    <p>Username: {{ username }}</p>
    <p>Homebase: {{ latitude }}, {{ longitude }}</p>
  </div>
  <div class="flex-container">
    <a href="{{ update }}" id="createuser" class="button">
      <div class="text"><p> Edit Account Info </p></div>
    </a>
    <a href="{{ delete }}" id="createuser" class="button">
      <div class="text"><p> Delete Account </p></div>
    </a>
    <a href="{{ add_poi }}" id="createuser" class="button">
      <div class="text"><p> Add POI </p></div>
    </a>
    <a href="{{ remove_poi }}" id="createuser" class="button">
      <div class="text"><p> Remove POI </p></div>
    </a>
  </div>
</div>
